* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#container {
	height: 900px;
	width: 1400px;
	border: 1px solid black;
	position: absolute;
	display: none;
	/* 	background: whitesmoke */
	/* 		url('https://s3.amazonaws.com/com.appgrinders.test/images/grid_20.png') */
	/* 		repeat; */
	/* 	margin: 10px; */
}

.xdsoft_datetimepicker .xdsoft_datepicker {
	width: 300px; /* width:  300px; */
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
	height: 151px; /* height:  151px; */
}

.drag .myCheckbox {
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 15px;
	right: 0px;
}

label {
	height: 0;
	display: inline-block;
}

.labelOne, .labelTwo {
	display: none;
}

.drag {
	/* 	border: 1px solid black; */
	width: 100px;
	height: 120px;
	float: left;
	margin: 0;
	font-size: .9em;
	position: relative;
}

img {
	width: 100px;
	height: 100px;
	z-index: 10;
	cursor: pointer;
}

span {
	border: 1px solid black;
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 10px auto;
}

.seatName {
	width: 30px;
	text-align: center;
	background-color: transparent;
	border-color: rgba(0, 0, 0, 0);
	box-shadow: 0 rgba(0, 0, 0, 0) inset, 0 rgba(0, 0, 0, 0);
	outline: 0 none;
}

.seatLabel {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
}

.select_div {
	width: 30%;
	text-align: left;
	font-size: 20px;
}
.select_div1 {
	width: 40%;
	text-align: left;
	font-size: 20px;
}

.select_div res_date {
	width: 80px;
	font-size: 20px;
}

#floor_list {
	width: 250px;
	font-size: 36px;
}

#time_peri_no {
	width: 250px;
	font-size: 28px;
}

#time_peri_no.option {
	text-align: center;
}

#res_date {
	text-align: center;
}

#people {
	width: 180px;
	text-align: center;
}